{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './bootstrap-5.2.3-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static './css/accounts/signup.css' %}">
    <title>Project CLAN | Home Page</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark" style="background-image: linear-gradient(to right, rgb(24, 24, 130), rgb(237, 171, 50),  rgb(184, 24, 184))">
            <div class="container">
                <a href="#" class="navbar-brand">
                    <img src="{% static './assets/alietLogo.png' %}" alt="Aliet Logo" width="30" height="30" class="d-inline-block align-text-top" />
                    Project CLAN
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
                    <div class="navbar-nav">
                        <a href="{% url 'base' %}" class="nav-link" aria-current="page">Home</a>
                        <a href="{% url 'signup' %}" class="nav-link active">Sign Up!</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
    <main class="container">
        <div class="buttonDiv gap-3">
            <div class="button-description h3">Please Sign up or Sign in with your linkedin account.</div>
            <div class="button">
                <a href="{% url 'social:begin' 'linkedin-oauth2' %}" role="button" type="button" class="btn btn-lg btn-primary d-flex flex-row align-items-center gap-2">
                    <div><img src="{% static './assets/linkedin.svg' %}" alt="linkedin logo"></div>
                    <div>
                        <p class="button-text" style="display: inline;">Sign in with LinkedIn</p>
                    </div>
                </a>
            </div>
        </div>
    </main>

    <footer class="m-5 fs-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-start">Reach Out</div>
                <div class="col-sm-6 d-flex justify-content-end">
                    <div><a href="https://www.instagram.com/yourcoolprinceofficial"><img src="{% static './assets/instagram.svg' %}" alt="instagramLogo" class="mediaLogo me-2"/></a></div>
                    <div><a href="https://www.linkedin.com/in/yourcoolprince/"><img src="{% static './assets/linkedin.svg' %}" alt="linkedInLogo" class="mediaLogo"/></a></div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static './bootstrap-5.2.3-dist/js/bootstrap.bundle.js' %}"></script>
</body>
</html>